$primary_color:#D32F2F;
$menu_inactive_color:#BBBBBB;
$text_color:#231F20;
$secondary_color:#00000061;

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./fonts/sukhumvit-set/SukhumvitSet-Light.ttf');
  font-weight:300;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
  font-weight:400;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./fonts/sukhumvit-set/SukhumvitSet-Medium.ttf');
  font-weight:500;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf');
  font-weight:600;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./fonts/sukhumvit-set/SukhumvitSet-Bold.ttf');
  font-weight:700;
}

.secondary-color {
  color: $secondary_color;
}

.primary-color {
  color: $primary_color;
}

.menu-inactive-color {
  color: $menu_inactive_color;
}

.text-color {
  color: $text_color;
}

body {
  font-family:'Sukhumvit Set';
}

.App {
  text-align: center;
}