*{font-family:'Sukhumvit Set', sans-serif}
::-webkit-scrollbar{display:none}

$primary_color:#F0592A;
$menu_inactive_color:#BBBBBB;
$text_color:#231F20;
$secondary_color:#00000061;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Sukhumvit Set */
@font-face {
  font-family:'Sukhumvit Set';
  src:url('./assets/fonts/sukhumvit-set/SukhumvitSet-Light.ttf');
  font-weight:300;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./assets/fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
  font-weight:400;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./assets/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf');
  font-weight:500;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./assets/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf');
  font-weight:600;
}

@font-face {
  font-family:'Sukhumvit Set';
  src:url('./assets/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf');
  font-weight:700;
}

.font-with-inter {
  font-family:"Inter", 'Sukhumvit Set', sans-serif;
}

.ant-input,.ant-picker {
  &:hover,&:focus {
    border:none;
    box-shadow:none;
  }
}

.save-btn {
  display:block;
  height:inherit;
  width:100%;
  border:none;
  border-radius:8px;
  color:white;
  font-size:19px;
  font-weight:700;
  height:56px;
  &.inactive {
    background-color:#BBBBBB;
    color:white;
  }
  &.active {
    background-color:$primary_color;
    color:white;
  }
}

input{
  font-family:'Sukhumvit Set', sans-serif !important;
}

.input-account {
  padding:11px 10px;
  height:40px;
  margin-top:6px;
  border:none;
  &::placeholder,.ant-picker-input input::placeholder {
    color: #00000061;
  }
}

.reward-cards {
  min-width:170px;
  border-radius:10px;
  border:none;
  .ant-card-head {
    padding:0
  }
  .ant-card-body {
    padding:10px 17px 18px 17px;
  }
}

.card-history {
  .ant-card-body {
    padding:16px 20px;
  }
}

.tabs-menu{
  .ant-tabs{
    .ant-tabs-tab{
      padding:12px;
      margin:0;
      width:50%;
      justify-content:center;
      font-weight:600;
    }
    .ant-tabs-ink-bar{
      background:$primary_color !important;
    }
  }
  .ant-tabs-nav-list,.ant-tabs-nav-wrap{
    display:block !important;
    width:100%;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:$primary_color !important;
  }
}

.history-title {
  width:75%;
  white-space:pre;
}

main {
  margin:77px 0 69px 0;
}

.secondary-color {
  color: $secondary_color;
}

.primary-color {
  color: $primary_color;
}

.menu-inactive-color {
  color: $menu_inactive_color;
}

.text-color {
  color: $text_color;
}

.App {
  text-align: center;
}

.member-card {
  .ant-card {
    background-repeat:no-repeat;
    background-size:cover;
    border:none;
  }
  .ant-card-body {
    padding:120px 20px 20px;
  }
}

.point-collect-btn {
  height:inherit;
  padding:17px 20px;
  border:none;
  border-radius:8px;
  background: linear-gradient(90deg, #F79B20 34.61%, #F2743A 119.87%);
  color:white;
  &:hover {color:white !important}
}

.logout-modal {
  .ant-modal-content {
    padding:0;
  }
  .ant-modal-body{
    padding:26px;
  }
  .ant-modal-footer {
    text-align:left;
  }
  .ant-btn-default { /* cancel (left btn) */
    border:none;
    border-radius:0 0 0 8px;
    background-color: #0000000A;
    color:black;
    width:50%;
    height:50px;
  }
  .ant-btn-primary { /* sign out (right btn) */
    border:none;
    border-radius:0 0 8px 0;
    background-color:$primary_color;
    color:white;
    margin-inline-start:0 !important;
    width:50%;
    height:50px;
    &:hover,&:active{
      background-color:$primary_color;
    }
  }
}
